<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>问题列表</title>
	<link rel="stylesheet" href="{{static_url("css/bootstrap.min.css")}}" />
	<link rel="stylesheet" href="{{static_url("css/question.css")}}" />
</head>
<body>
	<div class="container">
		<div class="row">
			{# 第一块 #}
			<div class="col-sm-12">
				<div class="panel panel-default panel-primary">
					<div class="panel-heading">
						<h1 class="panel-title" style="font-size: 36px;">
							{{firstRecord['question']}}
						</h1>
						<h5>
							{{firstRecord['detail']}}
						</h5>
					</div>

					<div class="panel-body">
						{% for record in allRecord %}
						<div class="record-item">
							{{record['anwser']}}
						</div>
						{% end %}
					</div>

					<div class="panel-footer">
						<form class="bs-example bs-example-form" role="form" method="POST" action="/question">
							<div class="form-group">
								<label for="name">评论</label>
								<textarea class="form-control" rows="3" style="resize: none;" name="comment" placeholder="您想说些什么?"></textarea>
							</div>
							<br>
							<div class="input-group pull-right">
								<p><input type="submit" class="btn btn-default btn-sm" value="提交评论"></p>
							</div>
							<input type="text" name="action" value="addComment" hidden="hidden">
							<input type="text" name="questionId" value={{firstRecord['qid']}} hidden="hidden">
							<br>
							<br>
						</form>
					</div>
				</div>
			</div>

			<script type="text/javascript" src="{{static_url("js/jquery-3.1.0.js")}}"></script>
			<script type="text/javascript" src="{{static_url("js/bootstrap.min.js")}}"></script>
		</body>
		</html>